:root {
    --dark: #1e201f;
    --white: #fefefe;
    --primary:#1eab90;
    --gray:#b0b8b8;
}

html,
body {
    background-color: var(--dark);
}

.burger-container {
    position: inherit;
    z-index: 1001;
    display: inline-block;
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: .4s all ease;
}

.bar {
    height: 4px;
    background-color: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    width: 40px;
}

.bar2 {
    width: 30px;
}

.bar3 {
    width: 20px;
}

.bar1.change {
    transform: translate(0, 6px) rotate(-45deg);
    width: 40px;
}

.bar2.change {
    opacity: 0;
    width: 40px;
}

.bar3.change {
    transform: translate(0, -6px) rotate(45deg);
    width: 40px;
}

.animSlider {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary);
}

.animSlider.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}

.animSlider.hide {
    display: none;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    90% {
        opacity: 1;
    }

    100% {
        display: none;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    90% {
        opacity: 1;
    }

    100% {
        display: none;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.navOverlay
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--dark);
}