:root {
    --black: #000;
    --dark: #212529;
    --white: #fefefe;
    --primary: #1eab90;
    --gray: #b0b8b8;
}

html,
body {
    background-color: var(--white);
}

.text-gray {
    color: var(--gray) !important;
}

main {
    position: relative;
    z-index: 2;
    background-color: rgba(254, 254, 254, 0.1);
    height: 100vh;
}

.content.zoomIn,
#particles-js.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

#particles-js {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--black);
}

.burger-container {
    position: inherit;
    z-index: 1001;
    display: inline-block;
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: .4s all ease;
}
.burger-container:hover .bar
{
    width: 40px !important;
    background-color: var(--primary);
}
.bar {
    height: 4px;
    background-color: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    width: 40px;
}

.bar2 {
    width: 30px;
}

.bar3 {
    width: 20px;
}

.bar1.change {
    transform: translate(0, 6px) rotate(-45deg);
    width: 40px;
}

.bar2.change {
    opacity: 0;
    width: 40px;
}

.bar3.change {
    transform: translate(0, -6px) rotate(45deg);
    width: 40px;
}

.animSlider {
    position: absolute;
    z-index: 1002;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    display: none;
}

.animSlider.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        display: block;
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        display: none;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        display: block;
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        display: none;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.navOverlay {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--black);
    display: none;
    height: 100vh;
    width: 100vw;
}

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content a {
    text-decoration: none;
    color: var(--gray);
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    padding: 10px;
    font-size: 30px;
    opacity: .7;
    font-weight: 600;
    text-transform: uppercase;
}

.navOverlay.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.navOverlay.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        display: none;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        display: none;
    }
}

.nav-icons {
    transition: .3s ease;
}

.nav-icons:hover {
    color: var(--white) !important;
}

.vl {
    border-left: 6px solid var(--gray);
    height: 120px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.sidenav {
    top: 30vh;
}


.main-content {
    position: relative;
    z-index: 3;
}

a.navlink:hover {
    color: var(--primary) !important;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}